<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>about new </title>
</head>
<body>
<section>
    <h1>AboutNew</h1>
    <h1>This is the new about page</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium architecto asperiores consequatur corporis
        deleniti dicta dolore earum est et excepturi hic impedit in ipsum labore modi mollitia nam nemo nisi nulla odit
        perspiciatis possimus quis quod repellendus repudiandae saepe sequi sit sunt suscipit unde, ut veritatis
        voluptate voluptatem. Nihil, veniam!
    </p>
</section>
</body>
</html>
