<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Adding Css Js & image </title>
    <link rel="stylesheet" href="" th:href="@{/css/myCss.css}">
</head>
<body>
<section>
    <div class="container">
        <img src="" th:src="@{/image/profile.jpg}" />
        <h1>Adding css js and image in thymeleaf </h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, blanditiis cupiditate deleniti doloribus
            eaque, eos iusto modi nesciunt placeat provident quam qui quod reprehenderit similique tempora vel
            veritatis? Accusantium asperiores distinctio doloribus ea hic illo, iste laudantium libero nesciunt officiis
            optio quas recusandae rerum sapiente sunt vel veritatis vitae. Alias at beatae doloribus eius exercitationem
            fuga inventore maxime nemo nulla numquam, saepe tenetur. A aspernatur at consequatur corporis dolorum est
            facilis molestias, mollitia nemo neque numquam odit, quibusdam soluta. Consequatur dicta facere recusandae
            similique vel. Aperiam cumque dignissimos magnam, minima molestiae natus porro repellat rerum sunt. A
            architecto eaque excepturi exercitationem illo iste itaque labore minima natus neque quaerat, quisquam
            recusandae repellendus reprehenderit repudiandae sequi soluta suscipit tenetur vel voluptas?</p>
    </div>
</section>
<!--adding javascript file-->
<script src="" th:src="@{/js/myjs.js}"></script>
</body>
</html>
