<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>conditional view</title>
</head>
<body>
<div>
    <h1>Conditional Statement in Thymeleaf</h1>
    <!--Elvis Operator-->
    <h2> user is <span th:style="${isActive} ? 'color:green': 'color:red' "
                       th:text="${isActive} ?'ACTIVE':'INACTIVE'"></span>
    </h2>

</div>
<div>
    <!--If unless operator-->
    <h3><span th:if="${gender} == 'M'">User is  Male</span></h3>
    <h3><span th:unless="${gender} == 'M'">User is  FeMale</span></h3>
</div>
<div>
    <!--switch case conditional statement-->
    <div th:switch="${#lists.size(mylist)}">
        <h2 th:case="'0'">List contain zero element</h2>
        <h2 th:case="'1'">List contain 1 element</h2>
        <!--        for default case always use  * -->
        <h2 th:case="*">List contain more than 1 element</h2>
    </div>
</div>
</body>
</html>
