<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Service new </title>
</head>
<body>
<section>
    <h1>Service New page</h1>
    <h1>This is the new Service page</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut ex explicabo facere, illo libero omnis perspiciatis
        voluptate? Ad blanditiis cumque dolorem eius exercitationem, illum ipsam perferendis quae quas rerum sapiente
        voluptas voluptate. Accusamus deleniti, dolores eaque expedita explicabo incidunt ipsam laboriosam magni
        maiores, minus nam natus necessitatibus nostrum optio pariatur placeat possimus, quasi saepe sequi soluta.
        Aspernatur culpa deleniti error ipsam iure magnam nihil nostrum officia reprehenderit tenetur? Debitis eius
        molestias officiis? Culpa debitis dolorem, dolores eaque eos eveniet fugiat inventore ipsam iure laboriosam
        maiores officia possimus quibusdam quis ratione recusandae, saepe. Amet, perspiciatis, quibusdam? At blanditiis
        eligendi, in iure libero molestias perferendis possimus ratione similique. Distinctio expedita facere inventore
        ipsam laudantium optio tempore veritatis vitae. Architecto ducimus eveniet fugit ipsum laboriosam, mollitia
        quisquam quod repellendus velit voluptatibus. Eligendi eos pariatur sunt. Amet animi aperiam aspernatur
        assumenda blanditiis corporis culpa deserunt dicta dignissimos eos eum excepturi expedita facere, facilis harum
        id iusto laborum magni minus nesciunt nobis non nostrum nulla, pariatur perferendis perspiciatis placeat quasi
        quia quos ratione reprehenderit similique soluta suscipit temporibus, ullam unde voluptatibus. Ab animi culpa
        debitis dignissimos dolore ducimus eius eos ex expedita fuga impedit, ipsam iure iusto maxime molestiae nesciunt
        nobis non perspiciatis placeat praesentium provident quidem recusandae, similique sunt suscipit tempore ullam.
        Ab accusantium aliquam aperiam architecto, aut consequatur corporis delectus dolor ea earum enim eum expedita
        explicabo, facere harum impedit in incidunt libero maxime minus modi nulla odio optio porro provident qui
        repellat tempore tenetur ullam veniam. Animi consectetur delectus error expedita facere illo iure possimus
        voluptates? Asperiores at cumque eaque exercitationem id ipsa iusto laborum neque, nihil non quod, vitae? A ad
        cupiditate deleniti dolore dolores doloribus dolorum eius eos est expedita facilis, fugiat fugit illo in ipsam
        itaque iure laudantium magni minus mollitia natus neque perferendis, perspiciatis quae qui quidem quis quod
        sequi similique suscipit tempore velit, vero vitae! Aspernatur corporis dolorem dolores eius mollitia nesciunt
        perspiciatis praesentium quasi saepe sequi! Architecto consequuntur dolorem eius excepturi exercitationem
        expedita inventore labore nam, neque omnis, reiciendis voluptates? Commodi doloribus eveniet harum in ipsa
        laboriosam minima neque praesentium saepe sapiente. Aspernatur dolorem doloribus, enim ex itaque laboriosam,
        libero, minima minus odit optio praesentium quas quis saepe sed suscipit unde velit voluptatem? Alias assumenda
        atque aut distinctio, dolorum eos error ex excepturi id iusto natus nemo neque nostrum, pariatur quam sunt unde!
        Ad autem, beatae dignissimos eaque earum enim libero quaerat quam quasi quisquam, quod voluptatum! A accusamus
        ad, adipisci corporis cupiditate distinctio eius et fuga fugiat illum ipsa ipsam iste, iure magnam maxime
        mollitia nam natus necessitatibus, nulla odio quidem quod rem repellat sapiente sequi sit voluptas voluptates!
        Accusantium animi earum eum laboriosam magni nam praesentium quo recusandae voluptates. Ab consequatur delectus
        eum ipsam similique sint voluptatibus? Accusantium adipisci aliquid et ex hic inventore laborum pariatur quis,
        quod, rerum suscipit tempora unde vel. Accusamus architecto at beatae, consequuntur corporis harum labore libero
        minus non perspiciatis porro praesentium quia reiciendis repellat repellendus rerum soluta voluptate voluptatum?
        Blanditiis corporis deleniti doloremque est expedita, fugit impedit iusto! A accusamus alias aliquam aliquid at
        error explicabo molestias natus non odit perferendis quidem quis ratione rerum tempora unde, vitae? Cum delectus
        distinctio libero minima, odit sapiente. Doloremque eos, esse est expedita in magnam minima, nobis nostrum quam
        qui reiciendis ullam voluptatibus. Aperiam atque dignissimos maxime molestias, nostrum provident quasi.</p>
</section>
</body>
</html>
